
.flex-nav{
    display: flex;
    width: 100vw;
}

.navbar{
    position: absolute; //fixed if needed
    top: 0;
    width: 100%;
}

.navbar-dark {
  width: 1440px;
  max-width: 100%;
  background-color: #0000000d;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;

  a { 
    padding: 0;
    background-color: transparent;
    color: aliceblue;
    text-decoration: none; 
    font-weight: inherit;
    font-size: inherit;  
  }
}


.list-items{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 2rem;
}