<div class="px">
  <div
    class="p-2 h-px w-auto bg-gradient-to-r from-purple-500 to-purple-700 rounded-full shadow-[0_0_10px_#a855f7,0_0_20px_#9333ea] my-8">
  </div>
</div>

<span class="title-section text-white text-center block text-2xl mb-6">Services</span>
<div class="carousel-container ">
  <owl-carousel-o [options]="customOptions" class="services-carousel">
    <ng-container *ngFor="let card of cards">
      <ng-template carouselSlide>
        <div class="carousel-item relative px-4">
          <!-- Circles behind -->
          <div *ngFor="let circle of card.circles"
            class="absolute rounded-full blur-3xl opacity-80 z-0 pointer-events-none" [ngStyle]="{
                 top: circle.top + 'px',
                 left: circle.left + 'px',
                 width: circle.size + 'px',
                 height: circle.size + 'px',
                 background: circle.color
               }">
          </div>

          <!-- Card content -->
          <div class="relative z-10 card">
            <h4 class="text-lg font-semibold mb-2">{{ card.title }}</h4>
            <p class="text-sm text-gray-300">{{ card.description }}</p>
            <div>
              <mat-icon class="icon" svgIcon="laptop"></mat-icon>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
