<div class="neon-carousel-wrapper">
  <div class="page-position">
    <div class="books-app-info">
      <p class="project-title">Bookstore Project Overview</p>
      <p class="slide-in-text">
        <ng-container *ngFor="let letter of titleLetters; let i = index">
          <br *ngIf="isBr(letter)" />
          <span *ngIf="!isBr(letter)" [style.animationDelay]="i * 15 + 'ms'" [ngClass]="{ 'space': letter === ' ' }">
            {{ letter }}
          </span>
        </ng-container>
      </p>
    </div>

    <div class="floating-cubes-wrapper">
      <div class="phone">
        <div class="phone-carousel">
          <div class="carousel-track" [style.transform]="'translateY(-' + currentIndex * 100 + '%)'">
            <img *ngFor="let img of phoneImages" [src]="img" class="carousel-image" />
          </div>
        </div>
      </div>
      <div class="real-3d-cube cube1">
        <div class="face front"></div>
        <div class="face back"></div>
        <div class="face left"></div>
        <div class="face right"></div>
        <div class="face top"></div>
        <div class="face bottom"></div>
      </div>
      <div class="real-3d-cube cube2">
        <div class="face front"></div>
        <div class="face back"></div>
        <div class="face left"></div>
        <div class="face right"></div>
        <div class="face top"></div>
        <div class="face bottom"></div>
      </div>
      <div class="real-3d-cube cube3">
        <div class="face front"></div>
        <div class="face back"></div>
        <div class="face left"></div>
        <div class="face right"></div>
        <div class="face top"></div>
        <div class="face bottom"></div>
      </div>
      <div class="real-3d-cube cube4">
        <div class="face front"></div>
        <div class="face back"></div>
        <div class="face left"></div>
        <div class="face right"></div>
        <div class="face top"></div>
        <div class="face bottom"></div>
      </div>
      <div class="real-3d-cube cube5">
        <div class="face front"></div>
        <div class="face back"></div>
        <div class="face left"></div>
        <div class="face right"></div>
        <div class="face top"></div>
        <div class="face bottom"></div>
      </div>
    </div>
  </div>
  <div class="section-py-space"></div>
  <div class="second-template">
    <div class="glow-circle glow-left"></div>
    <div class="glow-circle glow-right"></div>
    <h1 class="title">What I Use?</h1>
    <!-- <div class="floating-cubes-stack">
      <div class="real-3d-cube-stack cube6">
        <div class="face-stack front text-color">C#</div>
        <div class="face-stack back text-color">C#</div>
        <div class="face-stack left text-color">C#</div>
        <div class="face-stack right text-color">C#</div>
        <div class="face-stack top text-color">C#</div>
        <div class="face-stack bottom text-color">C#</div>
      </div>
      <div class="real-3d-cube-stack  cube7">
        <div class="face-stack front text-color">Razor Pages</div>
        <div class="face-stack back text-color">Razor Pages</div>
        <div class="face-stack left text-color">Razor Pages</div>
        <div class="face-stack right text-color">Razor Pages</div>
        <div class="face-stack top text-color">Razor Pages</div>
        <div class="face-stack bottom text-color">Razor Pages</div>
      </div>
      <div class="real-3d-cube-stack  cube8">
        <div class="face-stack-glow front"></div>
        <div class="face-stack-glow back"></div>
        <div class="face-stack-glow left"></div>
        <div class="face-stack-glow right"></div>
        <div class="face-stack-glow top"></div>
        <div class="face-stack-glow bottom"></div>
      </div>
      <div class="real-3d-cube-stack  cube10">
        <div class="face-stack-glow front"></div>
        <div class="face-stack-glow back"></div>
        <div class="face-stack-glow left"></div>
        <div class="face-stack-glow right"></div>
        <div class="face-stack-glow top"></div>
        <div class="face-stack-glow bottom"></div>
      </div>
      <div class="real-3d-cube-stack  cube9">
        <div class="face-stack front text-color">.NET</div>
        <div class="face-stack back text-color">.NET</div>
        <div class="face-stack left text-color">.NET</div>
        <div class="face-stack right text-color">.NET</div>
        <div class="face-stack top text-color">.NET</div>
        <div class="face-stack bottom text-color">.NET</div>
      </div>
    </div> -->
  </div>
