<div class="col-container">
  <section class="section-py-space flex-container">
    <div class="skills-cloud">
      <div *ngFor="let skill of skills" class="floating-skill" [ngStyle]="skill.style">
        {{ skill.name }}
      </div>
    </div>
    <h2 *ngIf="showTitle" class="slide-in-text">
      <ng-container *ngFor="let letter of titleLetters; let i = index">
        <span [style.animationDelay]="(i * 150) + 'ms'" [ngClass]="{ 'space': letter === ' ' }">{{ letter }}</span>
      </ng-container>
    </h2>
  </section>

  <section class="section-py-space flex-container">
    <app-project-content></app-project-content>
  </section>
</div>
