<div class="container-fluid pt-10">
  <div class="row">
    <div class="col-12">
      <div class="landing-title">
        <div>
          <h1>Contact Me</h1>
        </div>
        <div class="sub-title">
          <div>
            <h4>Contact Ioana</h4>
            <h2>Get an offer</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-flex">
  <div class="cols">contact links here </div>
  <div class="cols">
    <form class="form-center">
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </form>
  </div>

</div>
