<div class="container-fluid pt-10">
  <div class="row">
    <div class="col-12">
      <div class="landing-title">
        <div>
          <h1>Contact Me</h1>
        </div>
        <div class="sub-title">
          <div>
            <h4>Contact Ioana</h4>
            <h2>Get an offer</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-flex">
  <div class="cols">
    <mat-icon svgIcon="contact" style="width: max-content; height: auto;"></mat-icon>
  </div>
  <div class="cols">
    <form class="form-center">
      <mat-form-field appearance="outline" class="glow-field">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="glow-field">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="Enter your email address">
      </mat-form-field>
      <mat-form-field appearance="outline" class="glow-field">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Write me an message"></textarea>
      </mat-form-field>
    </form>
  </div>

</div>
