.row{
    display: flex;
justify-content: center;
flex-direction: row;
}
.col-12{
        flex: 0 0 auto;
    width: 100%;
}

.form-flex{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 2rem;
    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}
.cols{
     width: 50%;
     @media (max-width: 768px) {
        width: 100%;
    }
}

.form-center{
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
}
  .landing-title {
        position: relative;
    text-align: center;
    h1 {
    font-size: calc(80px + .025 * (40vw - 320px));
    color: aliceblue;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    line-height: .7;
    opacity: .05;
    margin-bottom: 50px;
         @media (max-width: 768px) {
            font-size: 2rem;
     }
    }
    .sub-title {
     position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex
;
    justify-content: center;
    }

    h4{
    font-size: calc(12px + 5 * (100vw - 320px) / 1600);
    color: aliceblue;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 3px;
    }
  }

::ng-deep .mat-mdc-form-field {
   --mdc-outlined-text-field-focus-outline-color: aliceblue;
  --mdc-outlined-text-field-outline-color: aliceblue;
  --mdc-outlined-text-field-disabled-outline-color: rgba(255, 255, 255, 0.3);
  --mdc-outlined-text-field-label-text-color: aliceblue;
  --mdc-outlined-text-field-focus-label-text-color: aliceblue;
  --mdc-outlined-text-field-caret-color: aliceblue; // Optional: for the cursor
}
::ng-deep .glow-field.mat-focused .mdc-text-field {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  border-radius: 8px; // optional for rounded glow
  color: aliceblue;
}

::ng-deep .mat-mdc-form-field .mat-mdc-input-element {
  color: white !important;            // input or textarea text
  caret-color: white !important;      // blinking cursor
}

::ng-deep .mat-mdc-form-field .mat-mdc-placeholder {
  color: white !important;            // if using placeholder directly
}

::ng-deep .mat-mdc-form-field textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);    // optional: softer white placeholder
}
