.row{
    display: flex;
justify-content: center;
flex-direction: row;
}
.col-12{
        flex: 0 0 auto;
    width: 100%;
}

.form-flex{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.cols{
     width: 50%;
}

.form-center{
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
}
  .landing-title {
        position: relative;
    text-align: center;
    h1 {
    font-size: calc(80px + .025 * (40vw - 320px));
    color: aliceblue;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    line-height: .7;
    opacity: .05;
    margin-bottom: 50px;
         @media (max-width: 768px) {
            font-size: 2rem;
     }
    }
    .sub-title {
     position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex
;
    justify-content: center;
    }

    h4{
    font-size: calc(12px + 5 * (100vw - 320px) / 1600);
    color: aliceblue;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 3px;
    }
  }

 ::ng-deep  mat-form-field-appearance-outline mat-primary{
    border: 2px solid white !important;
  }

// ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline {
//       border: 2px solid white !important; // Your custom color
// }

// ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline {
//       border: 2px solid white !important; // Custom color on focus
// }

// ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline .mat-primary
// {
//   border: 2px solid white !important;
// }

// ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline{
//   border: 2px solid white !important;
// }
// ::ng-deep .mdc-text-field--hover:not(.mdc-text-field--disabled) .mdc-notched-outline {
//   border-color: white !important;
// }
