<div class="flex-project-container section-py-space ">
  <span class="title-section">My projects</span>
  <div class="project-cards">
    <div class="card content-card" [routerLink]="['/project/bookstore-page']">
      <span class="cards-title">BOOKSTORE</span>
    </div>
    <div class="card content-card">
      <span class="cards-title">TEHILAX</span>
    </div>
    <div class="card content-card">
      <span class="cards-title">DATEING APP</span>
    </div>
    <div class="card content-card">
      <span class="cards-title">IONIC APP</span>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
