<div class="flex-project-container section-py-space ">
  <div class="p-2 h-px w-auto bg-gradient-to-r from-purple-500 to-purple-700 rounded-full
  shadow-[0_0_10px_#a855f7,0_0_20px_#9333ea] my-8 ">
  </div>
  <span class="title-section">Projects</span>
  <div class="project-cards">
    <div class="card content-card" [routerLink]="['/project/bookstore-page']">
      <span class="cards-title">BOOKSTORE</span>
    </div>
    <div class="card content-card" [routerLink]="['/project/tehilax-page']">
      <span class="cards-title">Services Management App</span>
    </div>
    <!-- <div class="card content-card">
      <span class="cards-title">DATEING APP</span>
    </div>
    <div class="card content-card">
      <span class="cards-title">IONIC APP</span>
    </div> -->
  </div>

</div>
<router-outlet></router-outlet>
