.neon-carousel-wrapper {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(circle at left, #1c1c40, #0f0f0f);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  